<h1>Signup</h1>

<form method="post" action="/auth/signup">
    <label>Username:
        <input type="text" name="username">
    </label>
    <label>Email:
        <input type="email" name="email">
    </label>
    <label>Password:
        <input type="password" name="password">
    </label>
    <button>Sign Up</button>
</form>

{{#if errorMessage}}
    <p class="Error">{{errorMessage}}</p>
{{/if}}