<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

        <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
            {{!-- <img class="h-10 inline" src="https://"> --}}
            <a href="/">
        
                <img class="w-auto h-14 " src="./images/AP-LOGO.jpg">
            </a>
            <ul class="md:flex md:items-center">
                
                <li class="mx-4">
                    <a href="/auth/login" class="cursor-pointer rounded-lg border-3 border-primary/60 px-6 py-2 text-lg font-medium text-gray-100 md:py-3 md:px-8 hover:border-primary
bg-gray-600  hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">LOGIN</a>
                </li>

                <li class="mx-4">          
                    <a href="/auth/signup" class="cursor-pointer rounded-lg border-3 border-primary/60 px-6 py-2 text-lg font-medium text-gray-100 md:py-3 md:px-8 hover:border-primary
bg-gray-800 bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">SIGNUP</a>
                </li> 
            </ul>        
        </nav>


    <body class="">
        <section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <a href="/auth/login" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:bg-gray-700" role="alert">
            <span class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3">Not your first time?</span> <span class="text-sm font-medium">Login with your account!</span> 
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
        <h1 class="mb-12 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-white">WELCOME TO ANIME-PLANET ANIMEGEEK!</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 text-gray-400">
            Here at Anime-Planet, we turn your anime dreams into reality! Dive into a world of endless excitement, where every click is a ticket to adventure. Your perfect anime experience starts with us!
        </p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="/anime/anime-library" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 focus:ring-primary-900">
                OUR ANIME LIBRARY
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
            <span class="font-semibold text-gray-400 uppercase">FEATURING</span>
            <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between">
                      
            </div>
        </div> 

        {{!-- <div class="w-64 carousel rounded-box">
            <div class="carousel-item w-full">
                <img src="./images/BLEACH.jpg" class="w-full" />
            </div> 
            <div class="carousel-item w-full">
                <img src="./images/FMA.jpg" class="w-full" />
            </div> 
            <div class="carousel-item w-full">
                <img src="./images/JJK.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
                <img src="./images/SPY-FAMILY.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
                <img src="./images/ONE-PIECE.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
                <img src="./images/STEINS-GATE.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
        </div> --}}

        {{!-- <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="duration-700 ease-in-out" data-carousel-item>
                    <img src="./images/BLEACH.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img src="./images/FMA.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="./images/JJK.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="./images/ONE-PIECE.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="./images/SPY-FAMILY.jpg" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                </div>
            </div>
            <div class="flex justify-center items-center pt-4">
                <button type="button" class="flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                        <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                        <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div> --}}

        <div class="grid gap-4">
            
            <div class="grid grid-cols-5 gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="./images/FMA.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="./images/JJK.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="./images/ONE-PIECE.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="./images/SPY-FAMILY.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="./images/STEINS-GATE.jpg" alt="">
                </div>
            </div>
        </div>
     </div>
</section>
    </body>
