<h1>{{appTitle}} 🚀</h1>
<p>Welcome AnimeGeek!</p>

<a href="/anime/anime-library">Anime Library</a>
<br>

<a href="/anime/create">Create an Anime</a>
 {{!-- this is referenced in the index routes// --}}
<br>

<a href="/auth/login">Login</a>

<br>

<a href="/auth/signup">Signup</a>