<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    <body class="">
        <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
            {{!-- <img class="h-10 inline" src="https://"> --}}
            <a href="/" class="text-2x1 font-[Poppins] cursor-pointer">Anime-Planet</a>
            <br>

            <ul class="md:flex md:items-center">
                <li class="mx-4">
                    <a href="/anime/anime-library" class="text-x1 hover:text-cyan-500 duration-500">ANIME LIBRARY</a>
                </li>

                <li class="mx-4">
                    <a href="/anime/create" class="text-x1 hover:text-cyan-500 duration-500">CREATE AN ANIME</a>
                {{!-- this is referenced in the index routes// --}}
                </li>

                <li class="mx-4">
                    <a href="/auth/login" class="shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">LOGIN</a>
                </li>

                <li class="mx-4">          
                    <a href="/auth/signup" class="text-x1 hover:text-cyan-500 duration-500">SIGNUP</a>
                </li> 
            </ul>        
        </nav>

    <h1>{{appTitle}} 🚀</h1>
        <p>Welcome AnimeGeek!</p>
    </body>
