<h1>Anime Library</h1>


{{#each anime}}
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.airDate}}</p>

    <a href="/anime/{{this._id}}">See anime</a>

{{/each}}
<br>
<a href="/anime/create">Create an anime</a>
<br>
<a href="/">Home</a>
